.lista-pokemon{
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  overflow: scroll;
  max-width: 596px;
  max-height: 718px;
  background: #F4F4F4 0% 0% no-repeat padding-box;
  border-radius: 50px 50px 0px 0px;
  opacity: 1;
}

.lista-titulo{
  text-align: left;
  font: normal normal bold 35px/46px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}