.pokemon{
  display:flex;
  top: 188px;
  left: 323px;
  width: 240px;
  height: 80px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
}

.imagem-pokemon{
  top: 196px;
  left: 331px;
  width: 64px;
  height: 64px;
}

.nome-pokemon{
  top: 196px;
  left: 410px;
  width: 73px;
  height: 21px;
  text-align: left;
  font: normal normal bold 16px/21px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.tipos-pokemon{
  top: 217px;
  left: 410px;
  width: 74px;
  height: 16px;
  text-align: left;
  font: normal normal normal 12px/16px Roboto;
  letter-spacing: 0px;
  color: #939393;
  opacity: 1;
}

.numero-pokemon{
  top: 199px;
  left: 528px;
  width: 20px;
  height: 16px;
  text-align: left;
  font: normal normal normal 12px/16px Roboto;
  letter-spacing: 0px;
  color: #939393;
  opacity: 1;
}

.maxcp-pokemon{
  top: 240px;
  left: 410px;
  width: 54px;
  height: 19px;
  background: #662C91 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
}

.maxcp-pokemon p{
  top: 240px;
  left: 425px;
  width: 24px;
  height: 19px;
  text-align: left;
  font: normal normal bold 14px/19px Roboto;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}