@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.titulo-filtro{
  text-align: left;
  font: normal normal bold 35px/46px Roboto;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.card-filtro{
  width: 429px;
  height: 556px;
  background: #F4F4F4 0% 0% no-repeat padding-box;
  border-radius: 50px 0px 0px 50px;
  opacity: 1;
}

.maxCP{
  display:flex;
  text-align:center;
  justify-content: center;
  align-items: center;
  border: 2px solid #DBDBDB;
  border-radius: 10px;
  opacity: 1;
  width: 77px;
  height: 34px;
}